.content__slide {
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-blend-mode: overlay;
}

.content__slide .container {
    transform: translateY(250px);
}

.container h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
}

.container p {
    color: #fff;
    line-height: 2rem;
}