.content {
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F7FF;
}

.content__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.content__restaurants {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.content__first{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}
.content__card {
    padding: 15px;
    margin-right: 25px;
    margin-bottom: 15px;

}

.content__more {
    height: 100px;
    opacity: 0.5;
    margin-top: 15px;

}


.content__more:hover {
    height: 120px;

}