.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C1C;

}

.header__wrapper {
    padding: 25px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header__logo {
    width: 200px;

}


.header__nav {
    padding: 5px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header__navlist {
    margin: 0px;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header__navitem a {
    color: #fff;
    padding: 5px 0;
    transition: 0.1s;
}

.header__navitem a:hover {
    color: #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}






