.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F0EE;

}

.header__container {
    width: 100%;
}

.header__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 15%;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    background: rgb(243,111,29);
    background: radial-gradient(circle, rgba(243,111,29,1) 0%, rgba(226,57,38,1) 78%);
}

.header__img {
    max-width: 190px;
}

.header__nav {
    padding: 20px 40px;
    width: 60%;
}

.header__navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__navitem {
    padding: 5px 0px;
    color: #B7B7B7; 
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;

}

.header__navitem a {
    color: inherit; 
    transition: 0.2s;
;

}


.header__navitem a:hover {
    color: #4A4A4A;


}

.header__navitem-active {
    color: #4A4A4A;
    border-bottom: 2px solid #4a4a4a;
}

.header__socnets {
    width: 10%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__socnet {
    width: 25px;
    margin-right: 20px;
    background-color: #F3701D;
    transition: 0.2s;
}


.header__socnet:hover {
    background-color: #E23826;

}


