.search {
    width: 70%;
    height: 120px;
    background-color: #1b1b1b;
}

.search__wrapper {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search__input {
    width: 90%;
    padding: 10px 0;
    color: white;
    font-size: 18px;
    background-color: #1b1b1b;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    transition: border-bottom 0.2s;
}

.search__input:focus {
    border-bottom: 1px solid orange;

}

.search__logo {
    width: 20px;
    filter: invert(1);
    transform: translateX(-100%);
}