.workinghours {
    width: 30%;
    height: 120px;
    background: rgb(243,111,29);
    background: radial-gradient(circle, rgba(243,111,29,1) 0%, rgba(226,57,38,1) 78%);
}

.workinghours__wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.workinghours__subtext {
    color: white;

}

.workinghours__time {
    color: white;
    font-weight: 700;
}